<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <title>My first web application</title>
  </head>
  <body>
    <h1>Web App</h1>
    <div ng-controller='ShoppingListAddController as itemAdder'>
      <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-star-empty"> Name:</span>
            <input type="text" ng-model="itemAdder.itemName"  placeholder="item name">
      </div>
      <div class="input-group">
            <span class="input-group-addon  glyphicon glyphicon-usd"> Price:</span>
            <input type="number" ng-model="itemAdder.itemPrice" placeholder="price">
      </div>
      <div class="input-group">
            <span class="input-group-addon 	glyphicon glyphicon-bookmark"> Quantity:</span>
            <input type="number" ng-model="itemAdder.itemQuantity" placeholder="quantity">
      </div>
      <br>
      <button ng-click="itemAdder.addItem();" class="btn btn-primary">Add Item To Shopping List</button>
      <br>

    </div>

    <div ng-controller='ShoppingListShowController as showList'>
      <ol class="list-group">
        <li ng-repeat="item in showList.items" class="list-group-item">
          <span class="glyphicon glyphicon-gift"></span>
          {{ item.name }}  ------  Quantity:{{ item.quantity }}  ------  Price:${{item.price}}
          <button ng-click="showList.removeItem($index);">Remove Item</button>
        </li>
      </ol>
			<div>
				<button ng-click="showList.cal();">Calculate Total Cost</button>
				<span >Total Cost:${{showList.totalCost}}<span>
			</div>
    </div>
  </body>
</html>
